
.page-header {
    background-color: #0099CC;
    margin-top: 0;
    padding: 1px 3px 1px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
}

.content {
    margin-left: 15px;
}

.well{
    background:none;
    border:none;
    max-height: 100%;
}

/* Header of the main page*/
#header {
    float: right;
    width:5%;
}

/*Pie chart CCS */
#img_container {
    position:relative;
/*    max-width:auto;
    max-height:auto;*/
    display:inline-block;
    text-align:center;
}

/* Tooltip Modules */
.tooltip_modules {
    position: relative;
    opacity: 1;
    display: inline-block;
    font-size: 18px;
}

.tooltip_modules .tooltiptext_modules {
    display: inline-block;
    top: -5px;
    left: 115%; 
    visibility: hidden;
    width: auto;
    background-color: #0099CC;
    color: #fff;
    text-align: left;
    padding: 10% 10% 10% 10%;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    opacity:0.85;
}

.tooltip_modules .tooltiptext_modules::after {
    content: " ";
    position: absolute;
    top: 7%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #0099CC transparent transparent;
    opacity:0.5;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip_modules:hover .tooltiptext_modules {
    visibility: visible;
}


/* Tooltip Voortgang */
.tooltip_voortgang {
    position: relative;
    opacity: 1;
    display: inline-block;
    font-size: 18px;
}

.tooltip_voortgang .tooltiptext_voortgang {
    display: inline-block;
    top: -5px;
    right: 115%; 
    visibility: hidden;
    width: auto;
    background-color: #0099CC;
    color: #fff;
    text-align: left;
    padding: 10% 10% 10% 10%;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    opacity:0.85;
    font-size: 16px;
}

.tooltip_voortgang .tooltiptext_voortgang::after {
    content: " ";
    position: absolute;
    top: 7%;
    left: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #0099CC;
    opacity:0.5;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip_voortgang:hover .tooltiptext_voortgang {
    visibility: visible;
}

 /* Dropdown Button */
.dropbtn {
    background-color: #0099cc;
    color: white;
    height:100%;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0099cc;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:10;
    color:black;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #007196}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*Interactive buttons*/

/*Button 1*/
.button_1 {
    content: '';
    display:inline-block;
    position: relative;
    text-align: left;
    width: 5%;
    height: 5%;
/*  width: auto;
    height: auto;*/

    z-index: 1;
    background-color: #ffffff ;
    border-radius: 10%;
    border:4px solid;
    border-color: #FD5F00; /*#00ff00*/
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.button_1:hover {
    background: #0099CC;
    transform: scale(2.5);
    z-index: 10;
    width:auto;
    height:auto;
    border: 2px solid  black;
}

.button_1:span {
    text-align: left;
    z-index: 10;
}

.button_1:hover:after {
    position:relative;
    display:table;
    content:'Open dag';
    width:auto;
    height:auto;
    /*bottom:50%;*/
    padding:20% 0% 20% 0%;
    font-size:7px;
    color: white;
}

.button_1:hover .image_stud1 {
    display: none;
}

/*Button 1*/
.button_1_2 {
    content: '';
    display:inline-block;
    position: relative;
    text-align: left;
    width: 2%;
    height: 2%;
/*  width: auto;
    height: auto;*/

    z-index: 1;
    background-color: #ffffff ;
    border-radius: 10%;
    border:4px solid;
    border-color: #FD5F00; /*#00ff00*/
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.button_1_2 .image_stud1_2 {
    display: block;
    position:absolute;
    right:10px;
}

.button_1_2:hover {
    background: #0099CC;
    transform: scale(2.5);
    z-index: 10;
    width:auto;
    height:auto;
    border: 2px solid  black;
}

.button_1_2:span {
    text-align: left;
    z-index: 10;
}

.button_1_2:hover:after {
    position:relative;
    display:table;
    content:'Open dag';
    width:auto;
    height:auto;
    /*bottom:50%;*/
    padding:20% 0% 20% 0%;
    font-size:7px;
    color: white;
}
.button_1_2:hover .image_stud1_2 {
    display: none;
}

/*Button 2*/
.button_2 {
    content: '';
    display:inline-block;
    position: relative;
    text-align: left;
    width: 5%;
    height: 5%;
/*  width: auto;
    height: auto;*/

    z-index: 1;
    background-color: #ffffff ;
    border-radius: 10%;
    border:4px solid;
    border-color: #FD5F00; /*#00ff00*/
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.button_2:hover {
    background: #0099CC;
    transform: scale(2.5);
    z-index: 10;
    width:auto;
    height:auto;
    border: 2px solid  black;
}

.button_2:span {
    text-align: left;
    z-index: 10;
}


.button_2:hover:after {
    position:relative;
    display:table;
    content:'Webklas';
    width:auto;
    height:auto;
    /*bottom:50%;*/
    padding:20% 0% 20% 0%;
    font-size:7px;
    color: white;
}
.button_2:hover .image_stud2 {
    display: none;
    opacity:0;
}

/*Button 2_2*/
.button_2_2 {
    content: '';
    display:inline-block;
    position: relative;
    text-align: left;
    width: 2%;
    height: 2%;
/*  width: auto;
    height: auto;*/

    z-index: 1;
    background-color: #ffffff ;
    border-radius: 10%;
    border:4px solid;
    border-color: #FD5F00; /*#00ff00*/
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.button_2_2:hover {
    background: #0099CC;
    transform: scale(2.5);
    z-index: 10;
    width:auto;
    height:auto;
    border: 2px solid  black;
}

.button_2_2:span {
    text-align: left;
    z-index: 10;
}


.button_2_2:hover:after {
    position:relative;
    display:table;
    content:'Webklas';
    width:auto;
    height:auto;
    /*bottom:50%;*/
    padding:20% 0% 20% 0%;
    font-size:7px;
    color: white;
}

.button_2_2:hover .image_stud2_2 {
    display: none;
}


/*Button 3*/
.button_3 {
    content: '';
    display:inline-block;
    position: relative;
    text-align: left;
    width: 5%;
    height: 5%;
/*  width: auto;
    height: auto;*/

    z-index: 1;
    background-color: #ffffff ;
    border-radius: 10%;
    border:4px solid;
    border-color: #FD5F00; /*#00ff00*/
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.button_3:hover {
    background: #0099CC;
    transform: scale(2.5);
    z-index: 10;
    width:auto;
    height:auto;
    border: 2px solid  black;
}

.button_3:span {
    text-align: left;
    z-index: 10;
}

.button_3:hover .top_stud_soc{
    display:none;
}
.button_3:hover .bottom_stud_soc{
    display:none;
}

.button_3:hover:after {
    position:relative;
    display:table;
    content:'1 dag student';
    width:auto;
    padding:20% 0% 20% 0%;
    top:0;
    font-size:7px;
    color: white;
}

@keyframes cf3FadeInOut {
    0% { opacity:1; }
    45% { opacity:1; }
    55% { opacity:0; }
    100% { opacity:0; }
}

.top_stud_soc {
    left:0;
    top:0;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}
.bottom_stud_soc {
    left:0;
    top:0;
}


/*Button 4*/
.button_4 {
    content: '';
    display:inline-block;
    position: relative;
    text-align: left;
    width: 5%;
    height: 5%;
/*  width: auto;
    height: auto;*/
    z-index: 1;
    background-color: #ffffff ;
    border-radius: 10%;
    border:4px solid;
    border-color: #FD5F00; /*#00ff00*/
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.button_4:hover {
    background: #0099CC;
    transform: scale(2.5);
    z-index: 10;
    width:auto;
    height:auto;
    border: 2px solid  black;
}

.button_4:span {
    text-align: left;
    z-index: 10;
}


.button_4:hover .top_toek_soc{
    display:none;
}
.button_4:hover .bottom_toek_soc{
    display:none;
}

.button_4:hover:after {
    position:relative;
    display:table;
    content:'Excursie';
    width:auto;
    padding:20% 0% 20% 0%;
    top:0;
    font-size:7px;
    color: white;
}

@keyframes cf3FadeInOut {
    0% { opacity:1; }
    45% { opacity:1; }
    55% { opacity:0; }
    100% { opacity:0; }
}

.top_toek_soc {
    left:0;
    top:0;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}
.bottom_toek_soc {
    left:0;
    top:0;
}



/*Button 5*/
.button_5 {
    content: ' ';
    color:black;
    display:inline-block;
    position: relative;
    text-align: left;
    width: 5%;
    height: 5%;

    z-index: 1;
    background-color: #ffffff ;
    border-radius: 10%;
    border:4px solid;
    border-color: #FD5F00; 
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.button_5:hover {
    background: #0099CC;
    transform: scale(2.5);
    z-index: 10;
    width:auto;
    height:auto;
    border: 2px solid  black;
}

.button_5:span {
    text-align: left;
    z-index: 10;
}


.button_5:hover:after {
    position:relative;
    display:table;
    content:'Case';
    width:auto;
    height:auto;
    padding:20% 0% 20% 0%;
    font-size:7px;
    color: white;
}

.button_5:hover .image_toek {
    display: none;
}

/*Button 5_2*/
.button_5_2 {
    content: '';
    display:inline-block;
    position: relative;
    text-align: left;
    width: 2%;
    height: 2%;
/*  width: auto;
    height: auto;*/

    z-index: 1;
    background-color: #ffffff ;
    border-radius: 10%;
    border:4px solid;
    border-color: #FD5F00; /*#00ff00*/
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.button_5_2:hover {
    background: #0099CC;
    transform: scale(4);
    z-index: 10;
    width:auto;
    height:auto;
    border: 2px solid  black;
}

.button_5_2:span {
    text-align: left;
    z-index: 10;
}


.button_5_2:hover:after {
    position:relative;
    display:table;
    content:'Case';
    width:auto;
    height:auto;
    /*bottom:50%;*/
    padding:20% 0% 20% 0%;
    font-size:5px;
    color: white;
}

/*Button 6*/
.button_6 {
    content: '';
    display:inline-block;
    position: relative;
    text-align: left;
    width: 5%;
    height: 5%;
/*  width: auto;
    height: auto;*/

    z-index: 1;
    background-color: #ffffff ;
    border-radius: 10%;
    border:4px solid;
    border-color: #FD5F00; /*#00ff00*/
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}

.button_6:hover {
    background: #0099CC;
    transform: scale(2.5);
    z-index: 10;
    width:auto;
    height:auto;
    border: 2px solid  black;
}

.button_6:hover .image_soc{
    display:none;
}

.button_6:span {
    text-align: left;
    z-index: 10;
}


.button_6:hover:after {
    position:relative;
    display:table;
    content:'Borrel';
    width:auto;
    height:auto;
    /*bottom:50%;*/
    padding:20% 0% 20% 0%;
    font-size:7px;
    color: white;
}